{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sistema de EPIs{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="main-container">
    <div class="sidebar">
        <div class="user-card">
            <img src="{% static 'colaboradores/img/ciromota.png' %}" alt="usuario">
            <div class="user-name">Ciro Mota</div>
            <div class="user-email">ciro.mota@empresa.com</div>
        </div>
        <a href="/" class="list-group-item">Dashboard</a>
        <a href="{% url 'colaboradores:lista' %}" class="list-group-item">Colaboradores</a>
        <a href="{% url 'colaboradores:equipamento_lista' %}" class="list-group-item">Equipamentos</a>
        <a href="{% url 'colaboradores:emprestimo_lista' %}" class="list-group-item">Empréstimos</a>
        <a href="/admin/" class="list-group-item">Admin</a>
    </div>
    <div class="content-area">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</div>
    {% include 'partials/_scripts.html' %}
</body>
</html>
